# These variables are expected in the project which uses this library.

# (Optional) Postgres Configuration
# By default, an in-memory data store will be used.
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/postgres

# Aion API Configuration
# Required for authentication with Aion API services
AION_CLIENT_ID=
AION_CLIENT_SECRET=
AION_API_HOST=https://api.aion.to
AION_API_KEEP_ALIVE=60
