# These variables are expected in the project which uses this library.

# (Optional) Postgres Configuration
# By default, an in-memory data store will be used.
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/postgres